.container{
    width: 500px;
    border-left: solid;
    border-left-color: white;
    position: absolute;
    display: inline-block;
    color: white;
    margin: 25% 50%;
    transform: translate(-50%, -50%) ;
    @media screen and (max-width: 991px) and (min-width: 50px) {
        margin: 50%;
    }
}
html{
    height: 100%;
}
body{
    background-color: black;
    position: relative;
}
h1{
    font-size: 50px;
    margin: 30px;
    margin-bottom: 100px;
}
h4{
    font-size: 30px;
    margin: 30px;
}
title{
    position: relative;
    height: 600px;
    background-color: red;
}