!!!
%html
  %head
    %meta{ property: 'og:url', content: root_url }
    %meta{ property: 'og:title', content: 'La mejor alternativa de desarrollo' }
    %meta{ property: 'og:description', content: 'Desarrolla tu aplicacion movil o web. Rapido y a bajo costo' }

    %meta{ property: 'og:type', content: 'article' }
    %meta{ property: 'fb:app_id', content: '1811953225600753' }
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=640, initial-scale=0.47, maximum-scale=1.0, user-scalable=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "no", :name => "msapplication-tap-highlight"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
